.cart {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .cart-items {
    background-color: #f9f9f9;
    padding: 20px;
  }
  
  .cart-items-title table {
    width: 100%;
    text-align: left;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  