.explore-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.explore-menu h2{
    color: #262626;
    font-weight: 500;
}

.explore-menu-text{
    max-width: 80%;
    color: #808080;
}

.explore-menu-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: center;
    margin: 20px 0px;
    overflow-x:scroll ;
}

.explore-menu-list::-webkit-scrollbar{
    display: none;
}

.explore-menu-list-item img{
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    /* margin-right: 20px; */
}

.explore-menu-list-item p{
    margin-top: 10px;
    color: #747474;
    cursor: pointer;
    font-weight: 600;
}

.menu-image{
    width:100px;
    /* background: green; */
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 3px 3px 6px #747474;
    height: 100px;
}
.menu-image img{
    width:100px;
    transition: 2s ease-in-out;
}
.explore-menu-list img:hover{
   transform: scale(1.2);
   
}

@media (max-width:1050px){
    .explore-menu-text{
        max-width: 100%;
        font-size: 14px;
    }
}

@media (max-width:750px){
    .food-display {
        margin-top: 30px;
        display: grid;
        margin-top: 30px;
        gap: 30px;
        row-gap: 50px;
        place-items: center;
    }
    
    .food-display-list {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: start;
        cursor: pointer;
        /* background: green; */
        border-radius: 15px 15px 0px 0px;
        gap: 10px;
        width: 282px;
    }
}
