.header{
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
 
}

.header-bg{
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    border-radius: 11px;
}

.header-contents{
    position: absolute;
    top: 176px;
    width: 666px;
    left: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    animation: fadeIn 4s  ease-in-out;
}

.header-contents h2{
    font-weight: 500;
    color: white;
    font-size: 42px;
}

.header-contents{
    color: white;
    font-size: 16px;
    text-align: justify;
}

.header-contents button{
    border: none;
    color: #747474;
    font-weight: 500;
    font-size: 15px;
    background-color: #fff;
    border-radius: 50px;
    padding: 14px 40px;
    cursor: pointer;
}

.bubble-btn {
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 20px 40px;
    font-size: 16px;
    position: relative;
    transition: transform 0.3s;
  }
  
  .bubble-btn:hover {
    animation: bubble 0.4s ease-out;
  }
  
  @keyframes bubble {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

@media (max-width:1050px){
  
  .header-contents{
    max-width: 45%;
  }

  .header-contents p{
    display: none;
  }

  .header-contents button{
    padding: 20px;
    display: block;
  }
  .header-contents {
    max-width: 65%;
    height: 34vw;
    position: absolute;
    top: 0px;
    left: 43px;
}

}

@media (max-width:750px){
  .header-contents{
   max-width: 65%;
  }
  .header-contents p{
    display: none;
  }

  .header-contents button{
    padding: 20px;
    display: block;
  }
  .header-contents {
    max-width: 65%;
    height: 34vw;
    position: absolute;
    top: 0px;
    left: 43px;
}

.header-contents h2 {
font-weight: 500;
color: white;
font-size: 20px;
position: absolute;
}
.header-contents button {
    padding: 8px;
    display: block;
    top: 43px;
    /* left: 10px; */
    font-size: 12px;
}

}